.header {
    background-color: rgb(54, 54, 54);
    box-shadow: none;
}

.breaking-news {
    background-color: rgb(54, 54, 54);
    height: 500px;
    color: aliceblue;
}

.breaking-news .col{
    background-color: rgb(32, 32, 32);
    height: 200px;
    margin: 20px;
}

body {
    background-color: #131313;
    color: aliceblue;
}



.flexslider {
    background-color: rgb(54, 54, 54);
}

.teaser-card {
    padding: 20px;
}

.card_content {
    width: 400px;
    height: 300px;
    background-color: rgb(54, 54, 54);
}

.card_image {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}

.preview {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview img {
    height: 100%;
    width: auto;
}

.card_author img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.card_info {
    padding: 20px;
}

.card_bottom {

}

.card_date {
    color: rgb(159, 170, 170);
}

.card_type {
    margin-right: 0;
}

.card_comment_count {
    margin-right: 0;
}

.post_count {
    font-size: 24px;
    background-color: #202020;
    padding: 180px;
    padding-bottom: 0;
    padding-top: 40px;
    font-weight: bold;
}

.comment-form__title {
    margin-bottom: 40px;
}


.field--name-field-paragrafs {
    /*background-color: #363636;*/
}

.post_title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
}

.page-title {
    display: none;
}

.post_info {
    color: gray;
    margin-bottom: 40px;
}

.post_author {
    font-size: 18px;
    margin-bottom: 40px;
}

.post_content {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}

.post_body {
    background-color:#202020;
    padding: 40px;
    margin-bottom: 40px;
    padding-left: 180px;
    padding-right: 180px;
}

.field__label {
    display: none;
}

.field--name-field-head {
    font-size: 29px;
    font-weight: bold;
}

.field__item p {
    margin-top: 20px;
    line-height: 30px;
    font-family: Roboto, sans-serif;
}

.field__item h3, h2, h1 {
    margin-top: 40px;
}

.paragraph--type--justimageparagraph {
    width: 100%;
    height: auto;
    text-align: center;
}

.field--name-field-youtube {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}

.field--name-field-text-item {

}

.field--name-field-image-item {
    margin: 40px;
    margin-left: 0;
    margin-right: 0;
}

.field__item {
    line-height: 1.5;
}

.comment-wrapper {
    background-color: #202020;
    padding: 180px;
    padding-top: 10px;
}

.newclass_body {
    height: 50px;
    background-color: #414040;
    color: #ffffff;
    border: none;
}

.newclass_body :focus{
    border: none;
}

  .accordionItem {

    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .accordionItemHeading {
    cursor: pointer;
    padding: 20px;
    background: #282828;;
    color: #fff;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 100;
  }

  .closer .accordionItemContent {
    height: 0;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;
  }
  .open .accordionItemContent {
    padding: 20px;
    background: #414040;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    transition: transform 0.2s ease;
    box-sizing: border-box;
  }
  
  .open .accordionItemHeading {
    margin: 0;
    display: none;
  }
  

  .comment_bottom {
    color: #414040;
    font-size: 1px;
  }

  .close_btn {
    cursor: pointer;
  }

.comment_author {
    border-radius: 50%;
}

.comment_content p{
    margin: 0;
}

.comment_content {
    font-size: 18px;
    margin-top: 20px;
}

.comment_vote {
    width: 100%;
}

.comment_vote .vote-widget-wrapper {
    position: absolute;
    right: 0;
}

.row_comments {
    float: left;
    margin-right: 20px;
    font-size: 12px;
}

.field--name-user-picture {
    margin-top: 10px;
    width: 40px;
    border-radius: 50%;
}

.field--name-user-picture img {
    height: 40px;
    border-radius: 50%;
}

.comment_card {
    margin-top: 15px;
    background-color: #282727;
    padding: 15px;
    padding-bottom: 15px;
    padding-bottom: 0;
    padding-right: 0;
}

.comment_reply {
    margin-top: 15px;
    font-size: 12px;
    color: #ddd;
}

.comment_content .links {
    margin-top: 20px;
    font-size: 12px;
    color: #ddd;
}

.comment_content .links a{
    color: #ddd;
}

.comment-wrap {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.breadcrumb {
    background-color:#242323;
}

.breadcrumb a{
    color: #fff;
}

.post_vote {
    text-align: center;
    margin-top: 80px;
    /*border: 4px solid #7476F4;*/
    padding: 20px;
    border-bottom: 2px solid #A4A4A4;
}

.post_vote_desc {
    margin-bottom: 20px;
}

.post_vote_widget {
    font-size: 28px;

}

.postform {
    background-color: #0f1015;
    padding: 40px;
}

.postform input{
    width: 100%;
}

.postform .draggable  {
    margin-top: 40px;
}

.postform .horizontal-tabs {
    border:none;
}


.postform label {
    display: none;
}

.postform .horizontal-tabs-list {
    background: none;
}

.postform  .input, button, select, textarea {
    padding: 6px;
    border: 1px solid #393939;
}

.postform .form-email, .form-text, .form-textarea {
    background-color: #393838;
    border: 1px solid #373737;
}

.postform #edit-advanced {
    display: none;
}

.postform .tabledrag-toggle-weight {
    display: none;
}

.postform .js .field--widget-entity-reference-paragraphs td {
    padding: 40px 0px 40px 0px;
  }

.postform thead th {
    display: none;
}

.paragraphs-dropbutton-wrapper {
    margin: 20px;
}

.postform tr {
    border-bottom: none;
    padding: 0.1em 0.6em;
  }

  .postform table :hover{
    background-color: transparent;
  }

  .btn, .node-readmore a, .flexslider .more-link, input[type="submit"] {
    background-color: #6f6f6f;
    width: 150px;
  }

.postform .ol li, ul li {
    list-style: none;
}


.supercontainer {
    max-width: 1000px;
}






.horizontal-tabs .horizontal-tab-button {
    background-color: #3a3a3a;
}

.horizontal-tabs {
    margin: 0 0 1em 0; /* LTR */
    padding: 0;
    border: none;
    position: relative; /* IE6/7 */
  }
  
  [dir="rtl"] .horizontal-tabs {
    margin: 0 0 1em 0;
  }
  
  .horizontal-tabs .horizontal-tabs-list {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    background-color: none;
    border-bottom: none; /* LTR */
    width: 100%;
    height: auto;
    clear: both;
    border-bottom: 1px solid #6f6f6f;
  }
  
  [dir="rtl"] .horizontal-tabs .horizontal-tabs-list {
    border-right: 0;
    border-left: none;
  }
  
  .horizontal-tabs-panes .horizontal-tabs-pane {
    padding: 0 1em;
    border: 0;
    background-color: unset;
    box-shadow: unset;
  }
  
  .horizontal-tabs-pane > summary {
    display: none;
  }
  
  /* Layout of each tab */
  .horizontal-tabs .horizontal-tab-button {
    background: none;
    border-right: none; /* LTR */
    padding-top: 0;
    margin: 0;
    min-width: 5em; /* IE7 */
    float: left; /* LTR */
  }
  
  [dir="rtl"] .horizontal-tabs .horizontal-tab-button {
    border-right: 0;
    border-left: none;
    float: right;
  }
  
  .horizontal-tabs .horizontal-tab-button a {
    display: block;
    text-decoration: none;
    padding: none;
  }
  
  .horizontal-tabs .horizontal-tab-button a:hover {
    outline: none;
    background-color: transparent;
  }
  
  .horizontal-tabs .horizontal-tab-button li:hover,
  .horizontal-tabs .horizontal-tab-button li:focus {
    background-color:none;
  }
  
  .horizontal-tabs ul.horizontal-tabs-list :focus {
    outline: none;
  }
  
  .horizontal-tab-button a:focus strong,
  .horizontal-tab-button a:active strong,
  .horizontal-tab-button a:hover strong {
    text-decoration: none;
    outline: none;
  }
  
  .horizontal-tab-button.selected {
    background-color: none;
    margin-bottom: -1px;
  }
  
  [dir="rtl"] .horizontal-tab-button.selected {
    border-left-width: 0;
    border-right-width: 1px;
  }
  
  .horizontal-tabs ul.horizontal-tabs-list li a,
  .horizontal-tabs ul.horizontal-tabs-list li.selected a {
    display: block;
    text-decoration: none;
    padding: 0.6em 1em;
    position: relative;
    top: 0;
  }
  
  .horizontal-tab-button .selected strong {
    color: #000;
  }
  
  .horizontal-tab-button .summary {
    display: block;
    line-height: normal;
    margin-bottom: 0;
  }
  
  /**
   * tab content
   */
  div.field-group-htabs-wrapper .field-group-format-wrapper {
    clear: both;
    padding: 0 0 0.6em;
  }
  
